html {
  min-width: 320px;
  min-height: 100%;
  background: #0a0b0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  min-width: 320px;
  min-height: 100%;
}

body {
  margin: 0;
}
